app.yml
rsconnect
bhi_app.yml
bhi_intro.md
bhi_baltic2015.Rdata
bhi_draft
bhi_draft_remote_sha.txt
ohi-global_intro.md
ohi-global_draft
ohi-global_draft_remote_sha.txt
ohi-global_eez2012.Rdata
ohi-global_eez2013.Rdata
ohi-global_eez2014.Rdata
ohi-global_eez2015.Rdata
ohi-global_eez2016.Rdata
app_ohi-global.yml
app_bhi.yml
